{% extends 'base.html' %}
{% block content %}

<h1>Song List</h1>

{% for song in songs %}
<div class="card">
    <a href="{% url 'detail' song.id %}">
        <div class="card-content">Song
            <span class="card-title">{{ song.name }}</span>
            <p>Composer: {{ song.composer }}</p>
            <p>Period: {{ song.period }}</p>
            {% if song.multipart == True %}
            <p>This piece has multiple movements</p>
            {% else %}
            <p>This piece is a standalone piece</p>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}